azure_storage==0.37.0
discord.py==2.3.2
google_api_python_client==2.181.0
google_auth_oauthlib==0.4.6
openai==1.107.2
protobuf==3.19.6
psutil==5.9.8
pydantic_ai==1.0.6
pydub==0.25.1
python-dotenv==1.1.1
